@import '../../../../assets/styles/color';

.main-products {
  padding-top: 2em;
  padding-top: 0;
}

.sell {
  p{
    padding: 1em;
  }
  button {
    width: 97%;
    display: block;
    margin: .2em auto;
    margin-top: 1em;
  }
}
