<div class="slider-container">


  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of items">
      <ng-template carouselSlide [id]="slide.CatergoryId">
        <div class="item" (click)="tapChildCategory(slide)">
          <div class="slider-item">
            <img [src]="slide.ProductsImages[0].FeaturedImageUrl" [alt]="slide.Name" [title]="slide.Name">
          </div>
          <h3>
            {{slide.Name}}
          </h3>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>
